#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.form-group input {
  background-color: #ccc;
  padding: .8rem;
  margin: .8rem;
  border-radius: 8px;
  color: black;
}
.btn {
    background-color: darkorange; 
    color: white;
    border: none;
    padding: .8rem;
    border-radius: 4px;
    cursor: pointer;
    width: 50%; 
}

.btn:hover {
    background-color: darkgoldenrod;
}


