:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start; 
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 40px;
}

#root {
  width: 100%;
  max-width: 800px; 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

/* --- ESTILOS DE LA LISTA (TARJETAS) --- */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

li {
  background-color: #333; 
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  border: 1px solid #444;
}

a {
  text-decoration: none;
}

a[href="/persons/create"] {
  display: inline-block;
  background-color: #45b878;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}
a[href="/persons/create"]:hover {
  background-color: #358f5d;
}

button, li a {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
  margin-left: 8px; 
}

li a {
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #555;
}
li a:hover {
  border-color: #45b878;
  color: #45b878;
}

/* Botón Delete (ROJO) */
button {
  background-color: #8a1c1c;
  color: white;
}
button:hover {
  background-color: #ff4444;
}

/* --- FORMULARIOS  --- */
form {
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ddd;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #222;
  color: white;
  font-size: 1rem;
  box-sizing: border-box; 
}

input:focus {
  outline: 2px solid #646cff;
  border-color: transparent;
}